extends layout.jade

block title
title Vue.js Github Explorer Blog

block main

	//- <router-view></router-view>

	//- .row
	//- 	form(class="col-md-12", id="changeRepoForm", @submit.prevent="changeRepo()")
	//- 		.row
	//- 			.form-group
	//- 				label(for="fullRepoName", class="active") Full Repo Name
	//- 				input(type="text", name="fullRepoName", v-model="fullRepoName", class="form-control")
	//- 			.form-group
	//- 				input(type="submit", class="btn btn-success", value="Get repo filesystem!")

	//- hr
	//- github-file-explorer(:username="username", :repo="repo")

.posts
	post(:posts="posts", v-for="post in posts")

	